<section class="first-section-about">
  <div class="about-us">
    <div class="about-us-image"></div>
    <div class="about-us-info">
      <h1>About us</h1>
      <p>
        Through True Rich Attended does no end it his mother since real had half
        every him case in packages enquire we up ecstatic unsatiable saw Through
        True Rich Attended does
      </p>
      <button class="btn-1">Book a service</button>
    </div>
  </div>
</section>

<section class="second-section-about">
  <div class="steps">
    <div class="steps-left">
      <div class="steps-info">
        <h1>We Provide Expert Service and aim to have a long term with you</h1>

        <p>
          We provide a full range of front end mechanical repairs for all makes
          and models of cars, no matter
        </p>
      </div>

      <div class="steps-left-item">
        <div class="steps-circle">
          <img src="./img/svg/home page/process section/01.svg" alt="" />
          <img src="./img/svg/home page/process section/Line.svg" alt="" />
        </div>
        <div class="steps-left-text">
          <p>Get a Quote</p>
          <p>
            Through True Rich Attended does no end it his mother since real had
            half every.
          </p>
        </div>
      </div>

      <div class="steps-left-item">
        <div class="steps-circle">
          <img src="./img/svg/home page/process section/02.svg" alt="" />
          <img src="./img/svg/home page/process section/Line.svg" alt="" />
        </div>
        <div class="steps-left-text">
          <p>Book an Appointment</p>
          <p>Through True Rich Attended does no end it his mother since real</p>
        </div>
      </div>

      <div class="steps-left-item">
        <div class="steps-circle">
          <img src="./img/svg/home page/process section/03.svg" alt="" />
        </div>
        <div class="steps-left-text">
          <p>Get your Service Done</p>
          <p>
            Ecstatic unsatiable saw his giving Remain expense you position
            concluded.
          </p>
        </div>
      </div>
    </div>

    <div class="steps-right">
      <img src="./img/picture/about-us/steps-right.png" alt="" />
    </div>
  </div>
</section>

<section class="third-section-about">
  <div class="color-sections">
    <div class="color-info">
      <p>Serve our customers and always deliver the customer service</p>
      <p>
        We provide a full range of front end mechanical repairs for all makes
        and models of cars, no matter the cause. This includes
      </p>
    </div>
  </div>
  <div class="color-sections">
    <div class="color-info">
      <p>To be the world’s most eader in automotive business solutions.</p>
      <p>
        We provide a full range of front end mechanical repairs for all makes
        and models of cars, no matter the cause. This includes
      </p>
    </div>
  </div>
  <div class="color-sections">
    <div class="color-info">
      <p>We value the service we provide and our loyal returning customers</p>
      <p>
        We provide a full range of front end mechanical repairs for all makes
        and models of cars, no matter the cause. This includes
      </p>
    </div>
  </div>
</section>

<section class="fourth-section-about">
  <div class="features-section">
    <h1>Services we provide to our valued customers</h1>
    <div class="features-block">
      <div class="features-item features-item-grid-1">
        <img src="./img/svg/about us/icon-1.svg" alt="" />
        <p>Convenient Service</p>
        <p>
          Through True Rich Attended does no end it his mother since real had
          half every him end it his mother
        </p>
      </div>
      <div class="features-item features-item-grid-2">
        <img src="./img/svg/about us/icon-2.svg" alt="" />
        <p>Expert Mechanics</p>
        <p>
          Through True Rich Attended does no end it his mother since real had
          half every him end it his mother
        </p>
      </div>
      <div class="features-item features-item-grid-3">
        <img src="./img/svg/about us//icon-3.svg" alt="" />
        <p>Transparent Pricing</p>
        <p>
          Through True Rich Attended does no end it his mother since real had
          half every him end it his mother
        </p>
      </div>
    </div>
  </div>

  <div class="experience">
    <div class="numbers number-item-1">
      <p>20+</p>
      <p>Proffesional</p>
    </div>
    <div class="numbers number-item-2">
      <p>10+</p>
      <p>Years Eperience</p>
    </div>
    <div class="numbers number-item-3">
      <p>12K+</p>
      <p>Service Closed</p>
    </div>
    <div class="numbers number-item-4">
      <p>100%</p>
      <p>Customer Satisfaction</p>
    </div>
  </div>
</section>

<section class="fifth-section-about">
  <h1>Meet our Team</h1>
  <div class="team-section">
    <div class="team-item team-item-grid-1">
      <div class="teammates">
        <p>Javena Melo</p>
        <p>Founder, Director</p>
      </div>
    </div>
    <div class="team-item team-item-grid-2">
      <div class="teammates">
        <p>Paul Honson</p>
        <p>Head Technician</p>
      </div>
    </div>
    <div class="team-item team-item-grid-3">
      <div class="teammates">
        <p>Devon Lane</p>
        <p>Technician</p>
      </div>
    </div>
    <div class="team-item team-item-grid-4">
      <div class="teammates">
        <p>Jalen Davies</p>
        <p>Marketing Manager</p>
      </div>
    </div>
    <div class="team-item team-item-grid-5">
      <div class="teammates">
        <p>Kylee Danford</p>
        <p>Sales Manager</p>
      </div>
    </div>
    <div class="team-item team-item-grid-6">
      <div class="teammates">
        <p>Luisa Wilson</p>
        <p>Support Assistant</p>
      </div>
    </div>
  </div>
</section>
