<section class="first-section-blog">
  <div class="our-blog-image">
    <h1>Our Blog</h1>
  </div>
  <div class="our-blog-info">
    <p>TRENDING</p>
    <h1>Diagnose Car Problems If You Don’t Know Much About Cars</h1>
    <p>
      We provide a full range of front end mechanical repairs for all makes and
      models of cars, no matter the cause. This includes, We provide a full
      range of front end mechanical.
    </p>
    <div class="posted">
      <button class="btn-1">Book a service</button>
      <p>Posted on October 6th 2021</p>
    </div>
  </div>
</section>

<section class="second-section-blog">
  <div class="blog-four">
    <div class="blog-four-block-item-1">
      <img src="./img/picture/blog/block-four-item-1.png" alt="" />

      <p>Posted on October 6th 2021</p>
      <p>
        Should I Buy a New Car or <br />
        Lease a New Car in 2021?
      </p>
      <p>
        We provide a full range of front end mechanical repairs for all
        <br />
        makes and models of cars, no matter the cause. This includes,
        <br />
        We provide a full range of front end mechanical.
      </p>

      <div class="link">
        <a href="./about us.html"
          >Read more
          <img src="./img/svg/home page/quote/Arrow.svg" alt="" />
        </a>
      </div>
    </div>

    <div class="blog-four-block blog-four-block-item-2">
      <img src="./img/picture/blog/block-four-item-2.png" alt="" />
      <div class="blog-four-block-item-info">
        <p>Get an Awesome Number Plate for Your New Car</p>
        <p>Posted on October 6th 2021</p>
      </div>
    </div>

    <div class="blog-four-block blog-four-block-item-3">
      <img src="./img/picture/blog/block-four-item-3.png" alt="" />
      <div class="blog-four-block-item-info">
        <p>Would you Let a Robot Drive your Car? Our AI Future</p>
        <p>Posted on October 6th 2021</p>
      </div>
    </div>

    <div class="blog-four-block blog-four-block-item-4">
      <img src="./img/picture/blog/block-four-item-4.png" alt="" />
      <div class="blog-four-block-item-info">
        <p>Will Electric Technology Soon Rule The Road?</p>
        <p>Posted on October 6th 2021</p>
      </div>
    </div>
  </div>
</section>

<section class="third-section-blog">
  <div class="news-section">
    <div class="news news-item-1">
      <img src="./img/picture/blog/blog-1.png" alt="" />
      <p>Posted on October 6th 2021</p>
      <h1>5 Genius Car Accessories You Should Never Drive Without</h1>
      <p>
        We provide a full range of front end mechanical repairs for all makes
        and models We provide a full range of front end mechanical repairs for
        all makes and models
      </p>
    </div>
    <div class="news news-item-2">
      <img src="./img/picture/blog/blog-2.png" alt="" />
      <p>Posted on October 6th 2021</p>
      <h1>5 Genius Car Accessories You Should Never Drive Without</h1>
      <p>
        We provide a full range of front end mechanical repairs for all makes
        and models We provide a full range of front end mechanical repairs for
        all makes and models
      </p>
    </div>
    <div class="news news-item-3">
      <img src="./img/picture/blog/blog-3.png" alt="" />
      <p>Posted on October 6th 2021</p>
      <h1>We provide blow straight past it with the wheels skidding</h1>
      <p>
        We provide a full range of front end mechanical repairs for all makes
        and models We provide a full range of front end mechanical repairs for
        all makes and models
      </p>
    </div>
    <div class="news news-item-4">
      <img src="./img/picture/blog/blog-4.png" alt="" />
      <p>Posted on October 6th 2021</p>
      <h1>We provide blow straight past it with the wheels skidding</h1>
      <p>
        We provide a full range of front end mechanical repairs for all makes
        and models We provide a full range of front end mechanical repairs for
        all makes and models
      </p>
    </div>
    <div class="news news-item-5">
      <img src="./img/picture/blog/blog-5.png" alt="" />
      <p>Posted on October 6th 2021</p>
      <h1>5 Genius Car Accessories You Should Never Drive Without</h1>
      <p>
        We provide a full range of front end mechanical repairs for all makes
        and models We provide a full range of front end mechanical repairs for
        all makes and models
      </p>
    </div>
    <div class="news news-item-6">
      <img src="./img/picture/blog/blog-6.png" alt="" />
      <p>Posted on October 6th 2021</p>
      <h1>5 Genius Car Accessories You Should Never Drive Without</h1>
      <p>
        We provide a full range of front end mechanical repairs for all makes
        and models We provide a full range of front end mechanical repairs for
        all makes and models
      </p>
    </div>
  </div>
</section>
