<section class="first-section-contact">
  <div class="get-in-touch">
    <div class="get-in-touch-left">
      <h1>Get in touch with our experts</h1>

      <div class="get-in-touch-input">
        <input type="text" placeholder="Your full Name" />
        <input type="text" placeholder="Your Email" />
        <input type="text" placeholder="Select service type" />
        <input type="text" placeholder="Message" />
      </div>

      <button class="btn-1">Send message</button>
    </div>

    <div class="get-in-touch-right">
      <div class="get-in-touch-right-info">
        <p>Address</p>
        <p>NH 234 Public Square San Francisco 65368</p>
      </div>
      <div class="get-in-touch-right-info">
        <p>Contact Details</p>
        <p>
          1800 265 24 52 <br />
          Finsweet@gmail.com
        </p>
      </div>
      <div class="get-in-touch-right-info">
        <p>Opening Hours</p>
        <p>Monday to Friday 9:00 AM to  10:00  AM</p>
      </div>
    </div>
  </div>
</section>

<section class="second-section-contact">
  <img src="./img/picture/contact/map.png" alt="" />
</section>

<section class="third-section-contact"></section>
