<footer>
  <div class="footer-top">
    <div class="footer-top-left">
      <h3>Get in touch with us for your service</h3>
      <div class="social">
        <img src="./img/svg/footer/facebook.svg" alt="" />
        <img src="./img/svg/footer/twitter.svg" alt="" />
        <img src="./img/svg/footer/instagram.svg" alt="" />
        <img src="./img/svg/footer/linkedin.svg" alt="" />
      </div>
    </div>
    <div class="footer-top-right">
      <div class="footer-top-right-info">
        <p>Help line Noumber</p>
        <p>1800 265 24 52</p>
      </div>
      <div class="footer-top-right-info">
        <p>Address</p>
        <p>NH 234 Public Square San Francisco 65368</p>
      </div>
      <div class="footer-top-right-info">
        <p>We are open</p>
        <p>Monday to Friday 9:00 AM to  10:00  AM</p>
      </div>
    </div>
  </div>

  <div class="footer-bottom">
    <div class="footer-bottom-items">
      <div class="logo">
        <img src="./img/svg/Logo-white.svg" alt="" />
      </div>

      <ul class="menu">
        <li><a href="./index.html">Home</a></li>
        <li><a href="./about us.html">About Us</a></li>
        <li><a href="./services.html">Services</a></li>
        <li><a href="./blog.html">Blog</a></li>
        <li><a href="./contact.html">Contact</a></li>
      </ul>

      <p>@ Copyright Finsweet 2021</p>
    </div>
  </div>
</footer>
