<header>
  <div class="logo">
    <img src="./img/svg/Logo.svg" alt="" />
  </div>

  <div class="empty"></div>

  <input id="menu-toggle" type="checkbox" />
  <label class="menu-button-container" for="menu-toggle">
    <div class="menu-button"></div>
  </label>

  <ul class="menu">
    <li><a href="./index.html">Home</a></li>
    <li><a href="./about us.html">About Us</a></li>
    <li><a href="./services.html">Services</a></li>
    <li><a href="./blog.html">Blog</a></li>
    <li><a href="./contact.html">Contact</a></li>
  </ul>

  <div class="assistance">
    <div class="assistance-icon">
      <img src="../img/svg/other/Assistance Icon.svg" alt="" />
    </div>
    <div class="assistance-info">
      <div class="assistance-road">Road Assistance</div>
      <div class="assistance-number">1800 265 24 52</div>
    </div>
  </div>
</header>
