<section class="first-section-services">
  <div class="our-services">
    <div class="our-services-image"></div>
    <div class="our-services-info">
      <h1>Our services</h1>
      <p>
        Through True Rich Attended does no end it his mother since real had half
        every him case in packages enquire we up ecstatic unsatiable saw Through
        True Rich Attended does
      </p>
      <button class="btn-1">Book a service</button>
    </div>
  </div>
</section>

<section class="second-section-services">
  <div class="diagnostics">
    <div class="diagnostics-item-main item-1-services">
      <img src="./img/picture/services/diagnostics.png" alt="" />

      <h3>Auto Diagnostics</h3>
      <p>
        Through True Rich Attended does no end it his mother since favourable
        real had half every him case in packages enquire we up ecstatic. Through
        True Rich Attended does no end it his mother.
      </p>

      <div class="link">
        <a href="#"
          >See service details
          <img src="./img/svg/home page/quote/Arrow.svg" alt="" />
        </a>
      </div>
    </div>

    <div class="diagnostics-item item-2-services">
      <img src="./img/svg/services/1.svg" alt="" />
      <p>Auto Dignostics</p>
    </div>
    <div class="diagnostics-item item-3-services">
      <img src="./img/svg/services/9.svg" alt="" />
      <p>Engin Repair</p>
    </div>
    <div class="diagnostics-item item-4-services">
      <img src="./img/svg/services/5.svg" alt="" />
      <p>Body Work</p>
    </div>
    <div class="diagnostics-item item-5-services">
      <img src="./img/svg/services/6.svg" alt="" />
      <p>Batteries</p>
    </div>
    <div class="diagnostics-item item-6-services">
      <img src="./img/svg/services/1.svg" alt="" />
      <p>Car wash</p>
    </div>
    <div class="diagnostics-item item-7-services">
      <img src="./img/svg/services/9.svg" alt="" />
      <p>AC Repair</p>
    </div>
  </div>
</section>

<section class="third-section-services">
  <div class="how-1-section">
    <div class="how-1-section-left">
      <h3>How we work and the process we follow</h3>

      <div class="how-1-section-left-item">
        <div class="how-1-section-left-ico">
          <img src="../img/svg/other/Checkmark.svg" alt="" />
        </div>
        <div class="how-1-section-left-text">
          <p>Through True Rich Attended does no end it his mother since</p>
        </div>
      </div>

      <div class="how-1-section-left-item">
        <div class="how-1-section-left-ico">
          <img src="../img/svg/other/Checkmark.svg" alt="" />
        </div>
        <div class="how-1-section-left-text">
          <p>Attended does no end it his mother since real had half every</p>
        </div>
      </div>

      <div class="how-1-section-left-item">
        <div class="how-1-section-left-ico">
          <img src="../img/svg/other/Checkmark.svg" alt="" />
        </div>
        <div class="how-1-section-left-text">
          <p>
            Since real had half every him case in packages enquire we up
            ecstatic
          </p>
        </div>
      </div>
    </div>

    <div class="how-1-section-right">
      <img src="./img/picture/services/how-section-1.png" alt="" />
    </div>
  </div>
</section>

<section class="fourth-section-services">
  <div class="how-2-section">
    <div class="how-2-section-left">
      <img src="./img/picture/services/how-section-2.png" alt="" />
    </div>

    <div class="how-2-section-right">
      <h1>Diagnose Car Problems If You Don’t Know Much About Cars</h1>
      <p>
        We provide a full range of front end mechanical repairs for all makes
        and models of cars, no matter the cause. This includes everything from
        struts, shocks, and tie rod ends to ball joints, springs everything from
        struts, shocks, and tie rod ends to ball joints, springs
      </p>
      <button class="btn-1">Book a service</button>
    </div>
  </div>
</section>
